---
import { Image } from "astro:assets";
import logoMark from "../../../assets/markishLogo-mark.png";

interface Props {
  readonly href?: string;
  readonly text?: string;
}

const { href = "/", text = "Markish." } = Astro.props;
---

<a class="brand" href={href} aria-label="Markish">
  <span class="brand-mark">
    <Image src={logoMark} alt="" width={30} height={30} densities={[2]} loading="eager" decoding="async" />
  </span>
  <span>{text}</span>
</a>
